<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>
----------------以下是S3数据-------------------<br/>
<label th:text="${bucketsInfo}"></label><br/>
----------------以下是RDS数据-------------------<br/>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>书名</th>
        <th>作者</th>
        <th>详情</th>
    </tr>
    </thead>
    <tbody>
    <!-- 遍历书籍列表 -->
    <tr th:each="book : ${bookList}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.detail}"></td>
    </tr>
    </tbody>
</table>
----------------以下是EC数据-------------------<br/>
<label th:text="${bookListCache}"></label><br/>
</body>
</html>